:root {
  --dark-overlay: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
}

.contacts {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
}

.contacts__address {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  color: inherit;
}

.contacts__item {
  margin-bottom: 5px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  color: currentColor;
  text-underline-offset: 5px;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}

.header {
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  padding: 50px 84px 50px 50px;
  position: relative;
  align-items: flex-start;
}

.header-menu {
  width: 392px;
  padding-top: 83px;
}

.header-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  gap: 12px;
}

.header-block {
  list-style: none;
}

.header-navigation-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-navigation-block::before {
  content: "○";
  display: inline-block;
  line-height: 0.9;
  text-align: center;
  flex-shrink: 0;
}

.header-menu-link {
  color: #000000;
  line-height: normal;
  text-underline-offset: 4px;
}

.header-contacts {
  display: block;
  width: 205px;
  margin-left: auto;
}

.logotype {
  position: relative;
  width: 148px;
  height: 105px;
  margin-top: 42px;
  margin-left: 32px;
}

.contacts--header {
  display: block;
  width: 205px;
  padding-top: 45px;
  margin-left: auto;
  color: #000000;
}

.cover {
  background: var(--dark-overlay),
    url("../images/cover.jpg") no-repeat center/cover;
  position: relative;
  width: 1100px;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 60px;
  box-sizing: border-box;
  background-position: 53% 20%;
}

.headline {
  display: grid;
  grid-template-rows: repeat(3, 72px);
  row-gap: 62px;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.title {
  grid-row: 1;
}

.title-center {
  grid-row: 2;
  padding-left: 330px;
}

.title-right {
  grid-row: 3;
  padding-left: 613px;
}

.title-right::after {
  content: "";
  display: inline-block;
  margin-right: -96px;
}

.description {
  display: flex;
  padding: 0;
  margin-top: auto;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: flex-end;
  justify-content: space-between;
}

.subline {
  word-spacing: 18.5px;
  margin: 0;
}

.button-container {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: inherit;
  margin-top: 15px;
}

.button {
  border: 1px solid #ffffff;
  padding: 12px 32px;
  text-decoration: none;
}

.lots {
  background-color: #ffffff;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-bottom: 150px;
  width: 100%;
}

.cads-title {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 0;
  margin-bottom: 27px;
}

.lots-grid {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;
}

.card {
  background-repeat: no-repeat;
  min-height: 596px;
  width: 334px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: 170% auto;
  background-position: 50% 80%;
}

.card--film {
  background-image: var(--dark-overlay), url("../images/card-lot-01.jpg");
}
.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card-title {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-underline-offset: 4px;
  padding: 48.5px 40px 0;
  text-align: left;
  text-decoration-thickness: 1px;
  word-spacing: 0.55px;
  letter-spacing: 0.1px;
  text-decoration: underline;
}

.card-recital {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-size: 20px;
  padding: 0 40px;
  margin-top: auto;
  box-sizing: border-box;
  padding-bottom: 48px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 120%;
}

.card--book {
  grid-column: 2;
  background-image: var(--dark-overlay), url("../images/card-lot-02.jpg");
}

.card--painting {
  grid-column: 3;
  background-image: var(--dark-overlay), url("../images/card-lot-03.jpg");
}

.more {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #000000;
  padding-left: 40px;
  padding-top: 30px;
}

.about {
  background-color: #ffffff;
  padding: 0 25px 0 25px;
  display: grid;
  grid-template-columns: 350px 693px;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 180px;
}

.logo-wrapper {
  grid-area: 1 / 1;
  justify-self: start;
  padding-left: 47px;
  margin: 0;
}

.circle {
  grid-area: 1 / 1;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-self: center;
}

.about-logo {
  grid-area: 1 / 1;
  width: 148px;
  height: 114px;
}

.about-title {
  grid-area: 1 / 2;
  color: #000000;
  flex-wrap: nowrap;
  font-size: 40px;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  text-align: left;
  padding-top: 102px;
  padding-left: 10px;
}

.about-text {
  grid-area: 2 / 2;
}

.about-discription {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 8px;
  width: 693px;
  margin: 0;
}

.about-discription + .about-discription {
  padding-top: 25px;
}

.footer-menu {
  background-color: #ffffff;
  font-size: 18px;
  color: #000000;
  display: grid;
  grid-template-columns: 264px 155px 164px 178px 240px;
  align-items: start;
  margin-bottom: 82px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.footer-contacts {
  width: 264px;
  grid-column: 1;
  line-height: 25px;
  color: #000000;
}

.footer-contacts-wrapper {
  grid-column: 1;
}

.footer-nav {
  grid-column: 3;
}

.footer-navigation {
  text-underline-offset: 4px;
  text-align: center;
  list-style: none;
  padding-left: 3px;
  margin: 0;
  align-self: start;
  width: 164px;
}

.footer-menu-link {
  color: #000000;
}

.socials-container {
  grid-column: 5;
  display: flex;
  gap: 47px;
  align-self: start;
  justify-self: end;
}

.socials {
  width: 48px;
  height: 48px;
}
