body {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.header {
  background-color: #ffffff;
  height: 293px;
  color: #000000;
  font-size: 18px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
  position: relative;
}

.header-menu {
  width: 392px;
}

.header-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  gap: 12px;
}

.header-block {
  list-style: none;
}

.header-navigation-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-navigation-block::before {
  content: "○";
  display: inline-block;
  align-items: center;
  line-height: 1;
  text-align: center;
  flex-shrink: 0;
}

.header-menu-link {
  color: #000000;
  line-height: normal;
  text-underline-offset: 4px;
}

.logotype {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 148px;
  height: 105px;
  margin: 0 auto;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-end;
  margin-left: auto;
  width: 202px;
  padding: 0;
  list-style: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.header-list {
  white-space: normal;
  word-break: break-all;
  font-size: 18px;
}

.header-list-link {
  color: #000000;
  line-height: normal;
  text-underline-offset: 4px;
  display: inline-block;
  max-width: 100%;
}
.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/cover.jpg") no-repeat center/cover;
  position: relative;
  width: 1100px;
  height: 757px;
  display: flex;               
  flex-direction: column;      
  padding: 165px 50px 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.headline {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 35px;
  margin: 0;
  padding: 0;
  flex-grow: 1;             
}

.title {
  display: block;
}

.title-center {
  text-align: center;
}

.title-right {
    padding-top: 37px;
  text-align: right;
 }

.title-right::after {
  content: "";
  display: inline-block;
 
  margin-right: -96px;
}

.description {
  display: flex;
  padding: 0;
  margin-top: auto;          
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 50px;
  
}

.subline {
  word-spacing: 15px;
   margin: 0;
   
}

.button {
 position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: inherit;
  line-height: 1; 
  border: none; 
}
.button::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -32px;
  bottom: -13px;
  left: -32px;
  border: 1px solid #ffffff;
    }

.lots {
  background-color: #ffffff;
  margin-top: 188px;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 334px);
  row-gap: 25px;
  column-gap: 25px;
  padding-left: 25px;
  margin-bottom: 117px;
}

.cads-title {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  grid-column: 1 / -1;
  padding-left: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-self: end;
}

.first-section,
.second-section,
.third-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 596px;
  width: 334px;
  display: block;
  padding-bottom: 36px;
}

.first-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: 53% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-name {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-underline-offset: 4px;
  padding: 48px 40px 0;
  text-align: left;
}

.card-recital {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-size: 20px;
  padding: 0 40px 20px;
  margin-top: auto;
  box-sizing: border-box;
}

.second-section {
  grid-column: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: 53% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.third-section {
  grid-column: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: 53% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.more {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #000000;
}

.about {
  background-color: #ffffff;
  padding: 0 25px 0 25px;
  display: grid;
  grid-template-columns: 350px 693px;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 177px;
}

.circle {
  grid-area: 1 / 1;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-self: center;
}

.white-logo {
  grid-area: 1 / 1;
  width: 148px;
  height: 114px;
}

.about-title {
  grid-area: 1 / 2;
  color: #000000;
  flex-wrap: nowrap;
  font-size: 40px;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  text-align: left;
  padding-top: 12%;
  right: 25px;
}

.about-text {
  grid-area: 2 / 2;
}

.about-discription {
  margin-top: 0;
  font-size: 20px;
}

.about-discriptions {
  font-size: 20px;
  padding-top: 25px;
}

.footer-menu {
  background-color: #ffffff;

  font-size: 18px;
  color: #000000;
  display: grid;
  grid-template-columns: 264px 340px 392px;
  align-items: center;
  margin-bottom: 88px;
  padding: 0;
}

.footer-contacts {
  white-space: normal;
  word-break: normal;
  width: 264px;
  list-style-type: none;
  grid-column: 1;
}

.footer-list-link {
  color: #000000;
  line-height: normal;
  text-underline-offset: 4px;
  display: inline-block;
  max-width: 100%;
}

.footer-navigation {
  grid-column: 2;
  align-self: center;
  justify-self: self-end;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-link {
  color: #000000;
}

.socials-container {
  grid-column: 3;
  display: flex;
  gap: 47px;
  align-self: self-start;
  justify-self: self-end;
  padding-top: 15px;
  
}

.socials {
  width: 48px;
  height: 48px;
}
