body {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.header {
  background-color: #ffffff;
  height: 293px;
  color: #000000;
  font-size: 18px;
  display: flex;

  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 84px;
  position: relative;
}

.header-menu {
  width: 392px;
}

.header-navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  gap: 12px;
  padding-top: 133px;
}

.header-block {
  list-style: none;
}

.header-navigation-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-navigation-block::before {
  content: "○";
  display: inline-block;

  line-height: 0.9;
  text-align: center;
  flex-shrink: 0;
}

.header-menu-link {
  color: #000000;
  line-height: normal;
  text-underline-offset: 4px;
}

.logotype {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 148px;
  height: 105px;
  margin: 0 auto;
}

.header-menu-list {
  display: block;
  margin-left: auto;
  width: 205px;
  padding-top: 95px;
  list-style: none;
}

.header-list {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: normal;
}

.header-list:last-child {
  margin-bottom: 0;
}

.header-list-link {
  color: #000000;

  text-underline-offset: 5px;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}

.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/cover.jpg") no-repeat center/cover;
  position: relative;
  width: 1100px;
  height: 757px;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 60px;
  box-sizing: border-box;
  overflow: hidden;
}

.headline {
  display: grid;
  grid-template-rows: repeat(3, 72px);
  row-gap: 62px;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.title {
  grid-row: 1;
}

.title-center {
  grid-row: 2;
  padding-left: 330px;
}

.title-right {
  grid-row: 3;

  padding-left: 613px;
}

.title-right::after {
  content: "";
  display: inline-block;
  margin-right: -96px;
}

.description {
  display: flex;
  padding: 0;
  margin-top: auto;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: flex-end;
  justify-content: space-between;
}

.subline {
  word-spacing: 18.5px;
  margin: 0;
}

.button {
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: inherit;
  line-height: 1;
  border: none;
  padding: 0 32px;
  top: -5px;
}

.button::before {
  content: "";
  position: absolute;
  top: -15px;
  right: -1px;
  bottom: -15px;
  left: -2px;
  border: 1px solid #ffffff;
}

.lots {
  background-color: #ffffff;
  margin-top: 180px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 334px);
  row-gap: 25px;
  column-gap: 25px;
  padding-left: 25px;
  margin-bottom: 150px;
}

.cads-title {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  grid-column: 1 / -1;
  padding-left: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  align-self: start;
}

.first-section,
.second-section,
.third-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 596px;
  width: 334px;
  display: block;
  padding: 0;
}

.first-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: 53% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-name {
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-underline-offset: 4px;
  padding: 48.5px 40px 0;
  text-align: left;
  text-decoration-thickness: 1px;
  word-spacing: 0.55px;
  letter-spacing: 0.1px;
}

.card-recital {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-size: 20px;
  padding: 0 40px;
  margin-top: auto;
  box-sizing: border-box;
  padding-bottom: 48px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 120%;
}

.second-section {
  grid-column: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: 53% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.third-section {
  grid-column: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: 53% 20%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.more {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #000000;
  padding-left: 40px;
  padding-top: 8px;
}

.about {
  background-color: #ffffff;
  padding: 0 25px 0 25px;
  display: grid;
  grid-template-columns: 350px 693px;
  grid-template-rows: repeat(2, auto);
  margin-bottom: 180px;
}
.logo-wrapper {
  grid-area: 1 / 1;
  justify-self: start;
  padding-left: 47px;
  margin: 0;
}

.circle {
  grid-area: 1 / 1;
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-self: center;
}

.white-logo {
  grid-area: 1 / 1;
  width: 148px;
  height: 114px;
}

.about-title {
  grid-area: 1 / 2;
  color: #000000;
  flex-wrap: nowrap;
  font-size: 40px;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  text-align: left;

  padding-top: 102px;
  padding-left: 10px;
}

.about-text {
  grid-area: 2 / 2;
}

.about-discription {
  margin-top: 0;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 8px;
  width: 693px;
}

.about-discriptions {
  font-size: 20px;
  padding-top: 25px;
  padding-left: 9px;
}

.footer-menu {
  background-color: #ffffff;
  font-size: 18px;
  color: #000000;
  display: grid;
  grid-template-columns: 264px 155px 164px 178px 240px;
  align-items: start;
  margin-bottom: 88px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.footer-contacts {
  white-space: normal;
  word-break: normal;
  width: 264px;
  list-style-type: none;
  grid-column: 1;
  line-height: 25px;
}

.footer-list-link {
  color: #000000;
  line-height: normal;
  text-underline-offset: 4px;
  display: inline-block;
  max-width: 100%;
}

.footer-navigation {
  grid-column: 3;
  text-underline-offset: 4px;
  text-align: center;
  list-style: none;
  padding-left: 3px;
  margin: 0;
  align-self: start;
  width: 164px;
}

.footer-menu-link {
  color: #000000;
}

.socials-container {
  grid-column: 5;
  display: flex;
  gap: 47px;
  align-self: start;
  justify-self: end;
}

.socials {
  width: 48px;
  height: 48px;
}
